#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

.movie_text span
{color: gold;}


.envourment_li img { border-radius: 30px;}

.envourment_li h4 { color: black;}




.modal-body  { text-align: center;
}

.modal-body img {display: inline-block;}